<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <title>ReciMe</title>

 <script src="/javascripts/jquery.js"></script>
 <script src="/javascripts/bootstrap.js"></script>
 <script src="/javascripts/validator.js"></script>
 <script src="/javascripts/form.js"></script>
 <link rel="stylesheet" href="/stylesheets/bootstrap.css">
 <style type="text/css">
 #container {
   height: 70%; 
   width: 100%;
   position:absolute; 
   top: 0; 
   left: 0; 
   z-index: -100;
}
.loading {
   margin-top: 10em;
   text-align: center;
   color: gray;
}
</style>
<script type="text/javascript">
$(function () {

   $.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=world-population-density.json&callback=?', function (data) {

       // Initiate the chart
       $('#container').highcharts('Map', {

           title : {
               text : 'ReciMe'
           },

           mapNavigation: {
               enabled: true,
               enableDoubleClickZoomTo: true
           },

           chart: {
            polar: true,
            backgroundColor:'#89cff0  ' 
        },

        colorAxis: {
           stops: [
           [0, '#F9A847 '],
           [0.25, '#eeddee '],
           [0.5, '#ff0000 '],
           [0.75, '#5500aa '],
           [1, '#000066 ']
           ],
           min: 0,
           max: 100
       },

       series : [{
           data : data,
           mapData: Highcharts.maps['custom/world'],
           joinBy: ['iso-a2', 'code'],
           name: 'Recipes',
           states: {
               hover: {
                   color: '#0f770b '
               }
           },
           tooltip: {
               pointFormat: '{point.name}'
           },
           events: {
               click: function (e) {
                   var text = e.point.name;
                   var xhttp = new XMLHttpRequest();
                   xhttp.onreadystatechange = function() {
                       if (xhttp.readyState == 4 && xhttp.status == 200) {
                         ///document.getElementById("demo").innerHTML = xhttp.responseText;
                     }
                 };
                 var url = "/recipes?country=" + text;
                 xhttp.open("GET", url, true);
                 xhttp.send();

             }
         }
     }]
 });
});
});

function addListItem(list) {
  var listItems = "";
  switch(list){
    case 'ingredients':
      listItems += "<div class='input-group'><input class='ingredients new-line-item form-control' placeholder='Ingredient'/>";
      listItems += "<span class='input-group-addon new-line-item'></span>";
      listItems += "<input class='quantity new-line-item form-control' placeholder='Amount'/></div>";
      break;
    case 'steps':
      listItems += "<input class='steps new-line-item form-control' placeholder='Add Step'/>";
      break;
  }
  $(listItems).appendTo('#' + list + '_list');
}
</script>
 <script src="/javascripts/recime.js"></script>
</head>
<body>
 <script src="https://code.highcharts.com/maps/highmaps.js"></script>
 <script src="https://code.highcharts.com/maps/modules/data.js"></script>
 <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
 <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>


   <div>
     <div id="container" style="max-width: 100%"></div>
     </br>
   </div>
   <p id="demo"> </p>
   <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#add_recipe_modal" onclick="resetForm()">Add New Recipe</button>
   <div id="add_recipe_modal" class="modal fade" role="document">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <a type="button" class="close" data-dismiss="modal">&times;</a>
           <h4 class="modal-title">Add New Recipe</h4>
         </div>
         <div class="modal-body">
           <form data-toggle="validator" role="form" id="recipe_form">
             <div class="form-group">
               <label for="title">Recipe Title:</label>
               <input class="form-control" id="title" required/>
             </div>
             <div class="form-group">
               <label for="country">Country of Origin:</label>
               <input class="form-control" id="country" required/>
               <br/>
             </div>
             <div clas="form-group">
               <div id="ingredients_list">
                 <label for="ingredients">Ingredients:</label>
                 <div class="input-group">
                   <input class="ingredients form-control" id="ingredients" placeholder="Ingredient" data-error="There has to be at least one ingredient for this recipe" required/>
                   <span class="input-group-addon"></span>
                   <input class="quantity form-control" id="quantity" placeholder="Amount" data-error="How much of this ingredient is necessary?" val="+" required/>
                   <div class="help-block with-errors"></div>
                 </div>
               </div>
               <input type="button" style="width: 5; height: 5;" onclick="addListItem('ingredients');" placeholder="+"/>
               <br/>
             </div>
             <div class="form-group">
               <label for="steps">Steps:</label>
               <div id="steps_list">
                 <input class="steps form-control" id="step" placeholder="Add Step" data-error="How am I supposed to make this if I dont know how!?" required/>
               </div>
               <input type="button" style="width: 5; height: 5;" onclick="addListItem('steps');" placeholder="+"/>
             </div>
               <br/>
             <div class="form-group">
               <label for="image">Dish Image Link:</label>
               <input class="form-control" id="image"/>
               <br/>
             </div>
           </form>
           <div style="clear:both"></div>
         </div>
         <div class="modal-footer">
           <button type="submit" class="btn btn-primary" onclick="submitForm()">Add</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
         </div>
     </div>

     </div>
   </div>
</body>
</html>
