#container {
 height: 100%; 
 width: 100%;
 position:absolute; 
 top: 0; 
 left: 0; 
 z-index: 0;
}
.loading {
 margin-top: 10em;
 text-align: center;
 color: gray;
}

.ui-content {
    padding: 0 !important;
}
 
.ui-listview {
    margin: 0 !important;
}
 
.example-wrapper, .example-wrapper div.iscroll-scroller {
    width: 100% !important;
}
